{% extends "base.html" %}

{% block body %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">User: {{ user[0].username }}</h1>
        <p class="lead text-muted">All your qr codes are displayed here.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for code in qr_codes %}
        <div class="col">
          <div class="card shadow-sm">
              <img src="{{ code }}" alt="User Images">
          </div>
        </div>
        {% endfor %}


</main>

{% endblock %}
